body {
    font-family: sans-serif;
}







p{
    font-size: 20px;
}

.span2:hover{
    background-color: lightblue;
    font-style: italic;
	color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to right, red, fuchsia);
    
}


.span2{
    font-size: 60px;
   margin-left: 21px;
   
}

.span1{
  border: 4px double black ;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 20px;
  padding-left: 5px;
  width: 90%;
  box-shadow:  8px 8px 10px 2px black;
  display: block;
  position: relative;
  
}







p{
    display: flex;
}

.name{
   text-align: start;
  
  padding: 5px;
  margin-left: 30px;
	width: 240px;
  transition: 0.1s;
}

.name {
    
    display: block;
    width: 250px;
    height: 70px;
    
    -webkit-transition:  border 0.3s, background-color 1s, -webkit-transform 1s;
    transition:  border-bottom 0.3s, background-color 1s, transform 1s;
}

.name:hover {
    background-color: #FFCCCC;
    
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-transform: translateX(46px);
    transform: translateX(46px);
    border-bottom: solid 5px blue;
}

.span3{
    
}

.span4{
    top: 20px;
    position: relative;
}

.span5{
    top: 40px;
    position: relative;
    margin-bottom: 300px;
}



   



